.searchTitle {
  text-align: right;
  font: Regular 22px/30px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}

.searchHeader {
  padding: 10px 50px;
}

.buttonRow {
  display: flex;
  justify-content: flex-start;
}

.filterButton {
  border: 3px solid rgba(0, 0, 0, 0.451);
  display: flex;
  justify-content: space-around;
  width: 130px;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 3px;
  opacity: 0.8;
  margin:6px;
}
