.searchTitle {
  text-align: right;
  font: Regular 22px/30px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}

.searchHeader {
  padding: 10px 50px;
}

.buttonRow {
  display: flex;
  justify-content: flex-start;
}

.filterButton {
  background-color: white !important;
  border: 0.5px solid rgba(0, 0, 0, 0.291) !important;
  display: flex !important;
  justify-content: space-around !important;
  width: 130px;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 3px;
  margin: 6px !important;
}

.filterButton:hover {
  border: 0.5px solid black !important;
  border-radius: 3px;
}
