.icon{
    padding-top:35px;
    /* padding-left:15px */
}

.infoRow{
    display:flex;
    flex-direction:row;
    /* justify-content: space-between; */
    padding-bottom:15px;
}
.joinbutton{
    float:left;
    /* padding-bottom: 15px; */
}
.h3{
    margin:auto;
}

.cellInRow{
    display: flex;
    padding-left:80px;
}

.cellNoIcon{
    padding-top: 27px;
}
.title{
    display:flex;
}
.joinButton{
    display:flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.title{
    display:flex;
    /* justify-content: space-between; */
}