.simpleSelect {
  background-color: white;
  box-shadow: #00000029;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100px;
  margin-left: 100px;
  height: 40px;
  padding: 0px;
  border-color:white;
  text-align: center;

}

.label {
    margin-left: 20px;
    
}

.selectDiv{
    margin-left: 10px;
    padding:0px;
    box-shadow: 0px 2px 6px #00000029;
}

/*
box-shadow: 0px 2px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
  text-align: left;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #5b5b5b;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 10px;

*/
