.saveButton {
    float: left;
    background-color:#009688 !important;
    color:white !important;
    margin: 15px
  }
.updateModal{
    display:flex;
    flex-direction: column;
    width: 900px;
    text-align: center;
}
.updateBanner{
  display:flex;
  flex-direction: column;
  align-items: center;
}
.textBox{
  font-family: "Segoe UI";
  font-size: large;
  margin-bottom: 10px;
  width: 490px;
}
.ManagerAction{
  width: 350px;

}
.buttons{
  display: flex;
  margin: 15px;
  justify-content: space-between;
}
