.icon{
    padding-top:35px;
}

.infoRow{
    display:flex;
    flex-direction:row;
    padding-bottom:15px;
}
.infoCell{
    margin:auto;
}

.cellInRow{
    display: flex;
    padding-left:80px;
}

.cellNoIcon{
    padding-top: 27px;
    padding-right: 10px;
}
.joinButton{
    display:flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.allHashtags{
    display:flex;
    justify-content: space-between;
    width: 450px;
}
.tag{
    margin: 15px 5px !important;
}
.pending{
    margin-top: 30px;
}