.SearchClassAction {
    max-width: 410px;
    align-content: center !important;
    padding-bottom: 30px;
  }
  
  .Chip {
    margin-left: 3px;
  }
  
  .InputSearch {
    margin-top: 40px;
    direction: rtl;
  }
  
  .SearchByCategory {
    margin-top: 40px;
    color: grey;
  }
  
  .Title {
    display: flex;
    flex-direction: row;
  }
  
  .SearchIcon {
    padding-top: 35px;
    padding-left: 12px;
  }
  
  .SearchButton {
    float: left;
    background-color: #009688 !important;
    color: white !important;
  }
  
  .Categories {
    display: flex;
    flex-direction: row;
  }
  