.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 6vh !important;
    margin-right: 2vw !important;
}

.headLine {
    margin-bottom: 4vh !important;
    
}
.para {
    color: #636363;
    font-size: x-large;
}

.sectionButtons {
    width: 20vw;
    margin-top: 4vh !important;
    margin-right: 4vw !important;
    font-weight: normal !important;
    font-size: 22px !important;
    box-shadow: 1px 2px 6px #00000029 !important;

}

.section{
    overflow: auto;
    height: 420px;
    background: url('../../images/home-background.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
}

.article {
    overflow: auto;
    background-color: #f1f1f1 !important;
    padding-bottom: 4vh;
}

.classActionTitle {
    font-size: 22px;
    margin-top: 4vh;
    margin-right: 2vw;
}