.root {
    max-width: 20vw;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.bullet {
    display: inline-block;
    margin: 0 2px;
    transform: scale(0.8);
}

.title {
    font-size: 14px;
    /* text-decoration: underline; */
}

.pos {
    margin-bottom: 12px;
}