  .Input {
    margin-top: 40px;
    direction: rtl;
    width: 400px;
  }
  
  .LoginButton {
    background-color:#009688 !important;
    color:white !important;
  }

  .BackButton {
    float: right;
  }

  .ProfileButton {
    float: left;
    background-color:#009688 !important;
    color:white !important;
  }

  .LogoIcon {
    width: 29px;
    height: 29px;
  }

  .LoginScreen {
    text-align: center;
    width: 350px;
  }

  .Center {
    text-align: center;
  }

  .UserRegister {
    width: 400px;
  }
  
  .Users {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
  }