.case {
    border: 1px solid #45AB9259;
    border-radius: 6px;
    opacity: 1;
    height: 70px;
    display:flex;
    flex-direction:row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.name {
    margin: 20px;
    font-weight: 500;
    width: 200px;
}

.description {
    white-space: nowrap; 
    width: 60%; 
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: 20px;
}

.status {
    display: flex;
    margin: 20px;
    color: rgb(37, 172, 37);
}

.statusContent {
    padding-right: 5px;
}