.searchTitle {
  text-align: right;
  font: Regular 22px/30px Segoe UI;
  letter-spacing: 0px;
  opacity: 1;
}

.searchHeader {
  padding: 10px 50px;
}

.buttonRow{
    
    display: flex;
    justify-content: flex-start;
}

.sortButton,
.filterButton {
  width: 113px;
  height: 40px;
  box-shadow: 0px 2px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
  text-align: left;
  font: Regular 18px/24px Segoe UI;
  letter-spacing: 0px;
  color: #5b5b5b;
  opacity: 0.8;
  display: flex;
  justify-content: space-around;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding: 10px;
}
