.saveButton {
    float: left;
    background-color:#009688 !important;
    color:white !important;
  }
  .textFileds{
      display: flex;
      flex-direction: column;
  }
  .titleTextBox{
    width: 200px;
  }
  .textBox{
    font-family: "Segoe UI";
    font-size: large;
    background: #45AB921F 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    opacity: 1;
    border:aliceblue;
  }
  .newMessage{
    background: #45AB921F 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #0000001A;
    opacity: 1;
}
.buttons{
  /* float: left; */
  display: flex;
  flex-direction: row-reverse;
}